<h2>关于 Wall2ray</h2>
<p>Wall2ray 使用 Project V 的核心工具 V2ray，帮你打造专属的基础通信网络。采用 VMess 协议，支持所有常见平台，如 Windows、Mac OS、Linux</p>

<h2>特性</h2>
<ul>
  <li>防封杀 </li>
  <li> 速度稳定</li>
  <li>价格便宜，长期服务</li>
</ul>
<p>如要使用，请加站长微信wechat：15201640370</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/wall2ray/wall2ray.github.io/">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://github.com/tianchaos">tianchaos</a>
  </li>
</ul>
